<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whatsapp chat model</title>
</head>
<body>
    <h1>All chats</h1>
    <hr>
    <div>
        <p>From : Shradha bhabhi</p>
        <div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit, sunt.</p>
        </div>
        <p>To: Durgesh </p>
    </div>
    
</body>
</html>